!!!
%html
  %head
    %title Задачи
    %meta(charset="utf-8")
    -# %meta(name="apple-mobile-web-app-capable" content="yes")
    -# %meta(name="viewport" content=" initial-scale = 1, user-scalable = no")
    -# %link(href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet")
    = stylesheet_link_tag 'all'


  %body


  %script(type="text/x-handlebars" data-template-name="application")
    %div{bind: {class: ':loader App.ajax.now:show' }} loading...
    =hb 'outlet'


  %script(type="text/x-handlebars" data-template-name="index")
    .form-inline
      %label Введите ваш API key для Redmine
      =hb 'view Em.TextField placeholder="api_key" valueBinding="key" class="input-xlarge" '
      %button.btn(_action="save") Сохранить
     
      
      %label
        Можно получить API key в
        :plain
          <a href="{{ unbound App.REDMINE_URL }}my/account">вашем профиле</a>
        RedMine
    

  
  %script(type="text/x-handlebars" data-template-name="projects")
    .navbar.navbar-fixed-top.navbar-inverse
      .navbar-inner
        .container
          .brand
            =hb 'controllers.project.name'

          
          .pull-right
            =hb 'view App.ButtonGroup contentBinding="App.mode.list" valueBinding="App.mode.selected" ' do
              =hb 'each item in view.content' do
                :plain 
                  <button class="btn btn-inverse" value="{{ unbound item.id }}">
                    {{ unbound item.title }}
                  </button>


            %button.btn.btn-inverse
              %i.icon-refresh.icon-white



    .row
      .span9.project
        =hb 'render laterIssues'
      
        =hb 'render nextIssues'

        =hb 'render nowIssues'

        =hb 'render doneIssues'

        -# =hb 'outlet'

      .span3
        .fixed.span3.right-panel
          =hb 'render users'

          %ul.nav.nav-list.well.versions
            %li.nav-header Версии
            =hb 'each v in controller.versions itemViewClass="App.VersionView"' do
              =hb 'v.name'

          %ul.nav.nav-list.well.priority
            %li.nav-header Приоритеты
            =hb 'each p in controller.priority itemViewClass="App.PriorityView"' do
              &nbsp;

          %ul.nav.nav-list.well.projects
            %li.nav-header Проекты
            =hb 'each p in controller' do
              =hb 'linkTo "project" p tagName="li" href=false ' do
                =hb 'linkTo "project" p  ' do
                  =hb 'p.name'


    .row.inputArea
      .span9
        =hb 'view App.TextArea placeholder="создать новую неназначенную"  '


  %script(type="text/x-handlebars" data-template-name="users")
    .members.well
      =hb 'each u in controller itemViewClass="App.UserView"' do
        .man{ bind: { title: 'u._name' } } 
          .name=hb 'u._name'
          %img{bind: { src: 'u.gravatar' }}



  %script(type="text/x-handlebars" data-template-name="issues_group")
    
    %h3 
      =hb 'view.title'
      %span.badge
        =hb 'controller.length'
      %span.tip 
        =hb 'view.tip'

    =hb 'each i in controller  ' do
      =hb 'view App.IssueView issueBinding=i' do
        =hb 'if App.mode.isAll' do
          =hb 'if i.assignedTo.id' do
            %img{ bind: { src: "i.assignedTo.gravatar", title: "i.assignedTo._name" } }
            =hb 'else'
            %span.none

        %a.full(target="_blank" href="{{ unbound i.link }}")=hb 'unbound i.id'
        =hb 'unbound i.subject'
    

  = javascript_include_tag "all"
  :coffeescript
    #init
    # ca18a75a2d1241a7aac4207fecb5d1372233f169
    
    App.set 'auth', Auth.create()
    App.advanceReadiness()
